doctype html
html(lang='es')
  head
    title flb31 - Hello World
    meta(charset='utf-8')
    meta(content="" name="description")
    meta(content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport")
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='stylesheet', href='assets/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,300italic,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css')
  body
    .hello
      span Hello 
      i.fa.fa-code
    script(src="assets/js/app.js")